@model IEnumerable<MailingListNet.Models.PersonVM>
<div class="jumbotron">
    <h1>Mailing List Application</h1>
    <p class="lead">web based mailing list application.</p>
    
</div>
<div class="row">
    <h3>Enter data for new contact</h3>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <div class="form-inline">
            <div class="form-group mb-2">
                <label for="lastName">Last Name</label>
                <input type="text" required class="form-control" id="lastName" name="LastName" placeholder="Last Name">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <label for="firstName">First Name</label>
                <input type="text" required class="form-control" id="firstName" name="FirstName" placeholder="First Name">
            </div>
            <div class="form-group mb-2">
                <label for="email">Email</label>
                <input type="email" required class="form-control" id="email" name="Email" placeholder="email@example.com">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Register</button>
        </div>
    }
</div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <h2>List of contacts</h2>
        </div>
        <div class="col-md-8">
            Filter:
            @using (Html.BeginForm("Filter", "Home", FormMethod.Get))
            {
                <div class="form-inline">
                    <div class="form-group mb-2">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" id="lastName" name="LastName" placeholder="Last Name">
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="asc">Asc/Desc</label>
                        <select name="asc" id="asc">
                            <option value="true">ASC</option>
                            <option value="false">DESC</option>
                        </select>
                        @*<input type="text" required class="form-control" id="asc" name="asc" placeholder="First Name">*@
                    </div>
                    
                    <button type="submit" class="btn btn-primary mb-2">Filter</button>
                </div>
            }
        </div>
    </div>
        <table class="table">
            <tr>
                <th>@Html.DisplayNameFor(model => model.LastName)</th>
                <th>@Html.DisplayNameFor(model => model.FirstName)</th>
                <th>@Html.DisplayNameFor(model => model.Email)</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                    <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                </tr>
            }
        </table>

